@import './foundations/_base.scss';

.scotland-area {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.image-map {
    position: relative;
    margin: 0 auto ($grid-unit * 3);

    .outer-grid {
        position: absolute;
        width: 100%;
        height: 100%;
        padding-bottom: 33.3%;
        top: 0;
        max-width: 1024px;
    }

    .outer-square {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        z-index: 2;
        padding: 16% 11% 15%;
    }

    .inner-grid {
        width: 33.3%;
        height: 33.3%;
        display: table;
        position: relative;

        &-1 {
            .info-icon {
                position: absolute;
                left: 31%;
                top: 10%;
            }
        }

        &-2 {
            .info-icon {
                position: absolute;
                left: 0%;
                top: 60%;
            }
        }

        &-3 {
            .info-icon {
                position: absolute;
                left: 0%;
                top: 20%;
            }
        }

        &-4 {
            .info-icon {
                position: absolute;
                left: 10%;
                top: 10%;
            }
        }

        &-5 {
            .info-icon {
                position: absolute;
                left: 70%;
                top: 2%;
            }
        }

        &-6 {
            .info-icon {
                position: absolute;
                left: 55%;
                top: 60%;
            }
        }

        &-7 {
            .info-icon {
                position: absolute;
                left: 50%;
                top: 20%;
            }
        }

        &-8 {
            .info-icon {
                position: absolute;
                left: 60%;
                top: 0%;
            }
        }

        &-9 {
            .info-icon {
                position: absolute;
                left: 55%;
                top: 20%;
            }
        }
    }

    .info-icon {
        position: relative;

        svg {
            width: 30px;
            height: 30px;
            @media only screen and (min-width: 768px) {
                width: 40px;
                height: 40px;
            }
        }

        &-show {
            display: none;
            position: absolute;
            z-index: 4;
            width: 240px;
            background-color: white;
            padding: ($grid-unit * 2);
            border-radius: $grid-unit;
            border: 1px solid $brand-green;
        }

        &-show-c {
            left: -80px;
        }

        &-show-l {
            left: -40%;
        }

        &-show-r {
            right: -40%;
        }

        &:hover {
            cursor: pointer;

            .info-icon-show {
                display: block;
            }
        }
    }

    .hover-pins {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
}

.table {
    display: table;
    width: 100%;
    margin-bottom: ($grid-unit * 4);
}
.title {
    display: table-caption;
    text-align: center;
    font-weight: 600;

    p {
        font-weight: 600;
        font-size: 1.1em;
    }
}
.heading {
    display: table-row;
    font-weight: 600;
    font-size: 1.1em;

    p {
        font-weight: 600;
        font-size: 1.1em;
    }
}
.roww {
    display: table-row;
    width: 100%;
}
.cell {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding: $grid-unit * 2;
}
.cellnotop {
    border-top: none;
}
.cellnobottom {
    border-bottom: none;
}
.table-proposal .cell {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding: $grid-unit * 2;

    &:first-of-type {
        width: 40%;
    }

    &:last-of-type {
        width: 60%;
    }
}

.table-proposal-two .cell {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding: $grid-unit * 2;

    &:first-of-type {
        width: 70%;
    }

    &:last-of-type {
        width: 30%;
    }
}

.table-pricing {
    .roww {
        .cell:first-child {
            width: 50%;
        }

        .cell:nth-child(2) {
            width: 25%;
        }

        .cell:nth-child(3) {
            width: 25%;
        }
    }
}

.table-tutor {
    .roww {
        .cell:first-child {
            width: 50%;
        }
        .cell:nth-child(2) {
            width: 50%;
        }
        p {
            margin: 0;
        }
    }
    .rowwbg {
        background-color: #eeeeee;
        font-style: italic;
        font-weight: bold;
    }
}

.table-tutorassess {
    .roww {
        .cell:first-child {
            width: 45%;
        }
        .cell:nth-child(2) {
            width: 10%;
        }
        .cell:nth-child(3) {
            width: 45%;
        }
        p {
            margin: 0;
        }
    }
    .rowwbg {
        background-color: #eeeeee;
        font-style: italic;
        font-weight: bold;
    }
}

.table-guide {
    .roww {
        .cell:first-child {
            width: 10%;
        }
        .cell:nth-child(2) {
            width: 60%;
        }
        .cell:nth-child(3) {
            width: 30%;
        }
        p {
            margin: 0;
        }
    }
    .rowwbg {
        background-color: #eeeeee;
        font-style: italic;
        font-weight: bold;
    }
}

.reddot,
.greydot,
.yellowdot,
.tealdot,
.purpledot,
.blackdot {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: $grid-unit;
    border-radius: 10px;
}

.reddot {
    background-color: #bd2e2e;
}
.greydot {
    background-color: #4d4c4c;
}
.yellowdot {
    background-color: #e2c913;
}
.tealdot {
    background-color: #4ebdc7;
}
.purpledot {
    background-color: #7c4b98;
}
.blackdot {
    background-color: #000;
}

.filters-container {
    .form-holder {
        display: block;
    }

    .success-holder {
        display: none;
    }
}

.filters-container.show {
    .form-holder {
        display: none;
    }

    .success-holder {
        display: block;
    }
}

:root {
    --amplify-primary-color: #f6a21e;
    --amplify-primary-tint: #f6a21e;
    --amplify-primary-shade: #f6a21e;
    --border-color: #333333;
}

amplify-hint {
    color: white;
}

amplify-authenticator {
    background: $brand-green;
    padding: 5px;
    width: 100%;
}

.page-icon svg {
    width: 46px;
    height: 46px;
    margin-right: 16px;
    margin-top: -8px;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}
table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
table th,
table td {
    padding: 12px 15px;
    border-left: 1px solid #dddddd;
}
table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
